      
      /* Aula inicial :D */
      body{
        text-align: center;
        background: #A7E8BD;
        background-image: url('https://webneel.com/wallpaper/sites/default/files/images/08-2018/3-nature-wallpaper-mountain.1366.jpg');
        background-size: auto 100vh;
        font-family: Arial;
        height: 100vh;
      }
      .site-subtitle,
      .site-title {
         color: whitesmoke;
      }
      a{
        
         text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
      }
      .menu{
        background-color: white;
      }
      .menu ul{
        justify-content: space-around;
        display: flex;
      }
      .menu li{
        list-style: none;
        display: flex;
      }